body {

	background: #f8f8ff;
	color: black;
	font-size: 15px;
	
}

#basliq {
background: #8dbc8f;
color: #2f4f4f;
text-align: center;
margin: auto;
border: 1px solid grey;
padding: 10 px;
font-size: 20px;
}

.title {
background: #8dbc8f;
color: white;
margin: auto;
text-align: center;
padding: 5px;
font-size: 20px;
}

.contain {

border: 1px dotted black;
margin: 10px;
}

#leftpanel {

	background: white;
	color: black;
	width: 30%;
	border: 1px solid grey;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

.qida {
background: #deb887;
color: black;
margin: auto;
text-align: center;
padding: 5px;

}

.yemek, .icki {
background: #ffffff;
color: black;
margin: auto;
text-align: center;
padding: 5px;

}

.yemek p, .icki p {
	cursor: pointer;
}

#rightpanel {

	background: white;
	color: black;
	width: 65%;
	border: 1px solid grey;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
}

.table {
	text-align: center;
	width: 130px;
	height: 130px;
	border: 2px solid grey;
	border-radius: 100%;
	background: #dcdcdc;
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	cursor: pointer;
}

.table p {
	position: relative;
	top: 40px;
	width: 100px;
	margin: auto;
	word-wrap: break-word;

}

.table span {
	position: relative;
	top: 20px;
	width: 100px;
	margin: auto;
}


.table-result {
	border: 1px dotted green;
	margin: 10px;
	min-height: 20px;
	
}

.table-result p {
	word-wrap: break-word;
	margin-left: 5px;
	margin-right: 5px;
}

.table-result p span {
	background: #b0c4de;
	color: #191970;
	cursor: pointer;
}

.table-result span {
	background: #dcdcdc;
	color: #2f4f4f;
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.hesab {
	outline: none;
	background: #778899;
	color: #ffffff;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.clear {
	clear: both;
}